.blog-single {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__items {
    width: 730px;
  }

  // &__item {
  // }

  &__item-img {
    margin-bottom: 25px;
  }

  &__item-info {
    margin-bottom: 7px;
  }

  // &__item-infodate {
  // }

  // &__item-infoauthor {
  // }

  // &__item-infotitle {
  // }

  &__item-title {
    margin-bottom: 10px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #363838;
  }

  &__item-text {
    &--top {
      color: #5a5a5a;
      margin-bottom: 40px;
    }
    &--bottom {
      min-height: 282px;
      color: #5a5a5a;
      margin-bottom: 40px;
    }
  }

  &__blockquote {
    margin-bottom: 29px;
    padding: 0 42px;
  }

  &__blockquote-text {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #363838;
    padding-bottom: 23px;
    margin-bottom: 23px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 177px;
      height: 1px;
      background: rgba(151, 151, 151, 1);
    }
  }

  &__blockquote-author {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #363838;
  }

  &__tags {
    margin-bottom: 40px;
  }

  &__tags-title {
    margin-bottom: 6px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    color: #363838;
  }

  &__tags-link {
    display: inline-block;
    color: #8f8d8d;
    margin-right: 24px;
    padding: 6px 16px;
    border: 1px solid #8f8d8d;
    border-radius: 20px;
    margin-bottom: 15px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 32px 32px 32px;
    margin-bottom: 35px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
  }

  &__link {
    color: #707070;
    width: 276px;
    position: relative;
    cursor: pointer;
    &::after {
      position: absolute;
      content: "";
      width: 12px;
      height: 23px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__link-prev::after {
    left: -30px;
    background-image: url(../../../img/blog-single-leftarrow.svg);
    background-repeat: no-repeat;
  }

  &__link-next::after {
    right: -30px;
    background-image: url(../../../img/blog-single-rightarrow.svg);
    background-repeat: no-repeat;
  }

  &__comments {
    margin-bottom: 40px;
  }

  &__comments-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    color: #363838;
    margin-bottom: 9px;
  }

  &__comments-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__comments-avatar {
    object-fit: cover;
    width: 64px;
    height: 64px;
    margin-right: 13px;
  }

  // &__comments-info {

  // }

  &__comments-name {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #363838;
  }

  &__comments-date {
    color: #a1a1a1;
    margin-bottom: 10px;
  }

  &__comments-text {
    color: #5a5a5a;
  }

  &__reply {
    color: #707070;
    font-weight: 600;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  // &__form {
  // }

  &__form-title {
    margin-bottom: 25px;
  }

  &__form-textarea {
    width: 100%;
    margin-bottom: 12px;
    resize: none;
    border-radius: 24px;
    padding: 14px 15px;
    border: 1px solid #dfdfdf;
    &::placeholder {
      color: #a1a1a1;
    }
  }

  &__form-input {
    width: 360px;
    padding: 6px 15px;
    border-radius: 20px;
    margin-bottom: 21px;
    border: 1px solid #dfdfdf;
    &--first {
      margin-right: 5px;
    }
    &::placeholder {
      color: #a1a1a1;
    }
  }

  &__form-label {
    display: block;
    color: #a1a1a1;
  }

  &__form-labelinput {
    margin-right: 11px;
    margin-bottom: 20px;
    border: 1px solid #dfdfdf;
  }

  &__form-btn {
    padding: 6px 60px;
    font-weight: 600;
    text-align: center;
    color: #fffff0;
    background-color: #363838;
    border-radius: 21px;
  }
}
