<section class="blog-box">
  <div class="container">
    <h3 class="blog-box__title">More inspiration ideas in our blog</h3>
    <div class="blog-box__items">
      <div class="blog-box__item">
        <a class="blog-box__img-link" href="#">
          <img
            class="blog-box__img"
            src="/img/content/blog-box-1.jpg"
            alt="blog box"
          />
        </a>
        <a class="blog-box__links" href="#">
          <span class="blog-box__date">March 12, 2020 </span>
          <a class="blog-box__author" href="#"> | by Ann Summers </a>
          <a class="blog-box__theme" href="#">| Inrerior </a>
        </a>
        <a class="blog-box__titlelink" href="#">
          <h4 class="blog-box__titlelink-title">
            Listicle actually selvage activated charcoal for the drinking
            vinegar
          </h4>
        </a>
      </div>
      <div class="blog-box__item">
        <a class="blog-box__img-link" href="#">
          <img
            class="blog-box__img"
            src="/img/content/blog-box-2.jpg"
            alt="blog box 2"
          />
        </a>
        <a class="blog-box__links" href="#">
          <span class="blog-box__date">September 28,2020</span>
          <a class="blog-box__author" href="#"> | by Finnagan Morningstar </a>
          <a class="blog-box__theme" href="#">| Dining room interior </a>
        </a>
        <a class="blog-box__titlelink" href="#">
          <h4 class="blog-box__titlelink-title">
            Red selfies edison bulb four dollar toast humblebrag
          </h4>
        </a>
      </div>
    </div>
  </div>
</section>
