<section class="blog">
  <div class="container">
    <div class="blog__inner">
      <div class="blog__items">
        <div class="blog__item">
          <img class="blog__item-img" src="img/blog-1.jpg" alt="blog 1" />
          <div class="blog__item-info">
            <span class="blog__item-infodate">August 15, 2020 </span>|
            <a class="blog__item-infoauthor" href="#">by Ann Summers</a>|
            <a class="blog__item-infotitle" href="#">Bedroom Furniture</a>
          </div>
          <a class="blog__item-link" href="#">
            <h3 class="blog__item-title blog__item-title--first">
              Red selfies edison bulb four dollar toast humblebrag for the
              furniture
            </h3>
          </a>
          <p class="blog__item-text blog__item-text--top">
            Everyday carry actually neutra authentic kogi shabby chic migas
            small batch craft beer. Literally williamsburg tote bag
            farm-to-table mustache ugh deep v irony. Af man bun copper mug
            iPhone enamel pin pug selvage hammock palo santo godard thundercats
            coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin
            edison bulb farm-to-table
          </p>
        </div>

        <blockquote class="blog__blockquote">
          <p class="blog__blockquote-text">
            “Simplicity is not the goal. It is the by-product of a good idea and
            modest expectations”
          </p>
          <div class="blog__blockquote-author">Paul Rand</div>
        </blockquote>
        <div class="blog__item article-popup">
          <a
            class="blog__popup-play"
            href="http://www.youtube.com/watch?v=0O2aH4XLbto"
          >
            <img
              class="blog__popup-imgbtn"
              src="img/play-button.svg"
              alt="play button"
            />
          </a>
        </div>
        <div class="blog__item-info">
          <span class="blog__item-infodate">August 12, 2020 </span>|
          <a class="blog__item-infoauthor" href="#">by Lux Morningstar</a>|
          <a class="blog__item-infotitle" href="#">Design</a>
        </div>
        <a class="blog__item-link" href="#">
          <h3 class="blog__item-title blog__item-title--second">
            Authentic kogi shabby chic
          </h3>
        </a>
        <div class="blog__item article-slider">
          <div class="article-slider__items">
            <div class="article-slider__item">
              <img
                class="article-slider__img"
                src="img/article-slider-1.jpg"
                alt="slider 1"
              />
            </div>
            <div class="article-slider__item">
              <img
                class="article-slider__img"
                src="img/article-slider-1.jpg"
                alt="slider 2"
              />
            </div>
            <div class="article-slider__item">
              <img
                class="article-slider__img"
                src="img/article-slider-1.jpg"
                alt="slider 3"
              />
            </div>
          </div>
        </div>
        <div class="blog__item-info">
          <span class="blog__item-infodate">August 18, 2020 </span>|
          <a class="blog__item-infoauthor" href="#">by Ann Summers</a>|
          <a class="blog__item-infotitle" href="#">Table Furniture</a>
        </div>
        <a class="blog__item-link" href="#">
          <h3 class="blog__item-title blog__item-title--third">
            Semiotics fixie four dollar toast, next level woke
          </h3>
        </a>
        <p class="blog__item-text blog__item-text--bottom">
          Everyday carry actually neutra authentic kogi shabby chic migas small
          batch craft beer. Literally williamsburg tote bag farm-to-table
          mustache ugh deep v irony. Af man bun copper mug iPhone enamel pin pug
          selvage hammock palo santo godard thundercats coloring book yuccie
          woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table
        </p>
        <div class="pagination">
          <a class="pagination__arrow pagination__arrow--disabled" href="#">
            <img
              class="pagination__arrow-icon"
              src="img/pagination-arrow-prev.svg"
              alt="arrow icon"
            />
          </a>
          <ul class="pagination__list">
            <li class="pagination__list-item">
              <a
                class="pagination__list-num pagination__list-num--active"
                href="#"
                >1</a
              >
            </li>
            <li class="pagination__list-item">
              <a class="pagination__list-num" href="#">2</a>
            </li>
          </ul>

          <a class="pagination__arrow" href="#">
            <img
              class="pagination__arrow-icon"
              src="img/pagination-arrow-next.svg"
              alt="arrow icon"
            />
          </a>
        </div>
      </div>
      <aside class="aside">
        <form class="aside__search">
          <input class="aside__search-input" type="text" placeholder="Search" />
          <button class="aside__search-btn" type="submit">
            <img src="img/search-icon.svg" alt="search icon" />
          </button>
        </form>
        <div class="aside__category">
          <h6 class="aside__category-title">Categories</h6>
          <ul class="aside__category-list">
            <li class="aside__category-item">
              <a class="aside__category-link" href="#">Dining room (1)</a>
            </li>
            <li class="aside__category-item">
              <a class="aside__category-link" href="#">Office furniture (12)</a>
            </li>
            <li class="aside__category-item">
              <a class="aside__category-link" href="#"
                >Simple interiror design (2)</a
              >
            </li>
            <li class="aside__category-item">
              <a class="aside__category-link" href="#">Design (4)</a>
            </li>
            <li class="aside__category-item">
              <a class="aside__category-link" href="#">Bedroom Furniture (1)</a>
            </li>
          </ul>
        </div>
        <div class="aside__posts">
          <h6 class="aside__posts-title">Recent Posts</h6>
          <ul class="aside__posts-list">
            <li class="aside__posts-item">
              <a class="aside__posts-itemtitle" href="#"
                >Cred selfies edison bulb four dollar toast humblebrag</a
              >
              <span class="aside__posts-date">August 10, 2020 </span>|
              <a class="aside__posts-author" href="#">by Ann Summers</a>
            </li>
            <li class="aside__posts-item">
              <a class="aside__posts-itemtitle" href="#"
                >Semiotics fixie four dollar toast, next level woke scenester
                direct trade photo booth</a
              >
              <span class="aside__posts-date">September 30 ,2020 </span>|
              <a class="aside__posts-author" href="#"> by Ann Summers</a>
            </li>
            <li class="aside__posts-item">
              <a class="aside__posts-itemtitle" href="#"
                >Cred selfies edison bulb four dollar toast humblebrag</a
              >
              <span class="aside__posts-date">May 2, 2020 </span>|
              <a class="aside__posts-author" href="#">by Ann Summers</a>
            </li>
          </ul>
        </div>
        <div class="aside__tags">
          <h6 class="aside__tags-title">Tags</h6>
          <a class="aside__tags-link" href="#">Dining room futniture</a>
          <a class="aside__tags-link" href="#">Chair</a>
          <a class="aside__tags-link" href="#">Table</a>
          <a class="aside__tags-link" href="#">Bedroom</a>
          <a class="aside__tags-link" href="#">Office Furniture</a>
        </div>
        <div class="aside__socials">
          <ul class="aside__socials-list">
            <li class="aside__socials-item">
              <a class="aside__socials-link" href="#">
                <img class="aside__socials-img" src="img/facebook.svg" alt="fb"
              /></a>
            </li>
            <li class="aside__socials-item">
              <a class="aside__socials-link" href="#">
                <img
                  class="aside__socials-img"
                  src="img/instagram.svg"
                  alt="instagram"
              /></a>
            </li>
            <li class="aside__socials-item">
              <a class="aside__socials-link" href="#">
                <img
                  class="aside__socials-img"
                  src="img/pinterest.svg"
                  alt="pinterest"
              /></a>
            </li>
            <li class="aside__socials-item">
              <a class="aside__socials-link" href="#">
                <img
                  class="aside__socials-img"
                  src="img/whatsapp.svg"
                  alt="whatsapp"
              /></a>
            </li>
            <li class="aside__socials-item">
              <a class="aside__socials-link" href="#">
                <img
                  class="aside__socials-img"
                  src="img/youtube.svg"
                  alt="youtube"
              /></a>
            </li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>
