    <div class="collection">
      <div class="container-fluid">
        <div class="collection__items">
          <a class="collection__item" href="#">
            <img class="collection__img" src="img/content/about-gallery-1.jpg" alt="about gallery 1" />
            <div class="collection__info">
              <div class="collection__info-title">
                Truffaut literally trust
              </div>
              <p class="collection__info-text">
                Living room furntiture | Chair
              </p>
            </div>
          </a>
          <a class="collection__item" href="#">
            <img class="collection__img" src="img/content/about-gallery-2.jpg" alt="about gallery 2" />
            <div class="collection__info">
              <div class="collection__info-title">
                Truffaut literally trust
              </div>
              <p class="collection__info-text">
                Living room furntiture | Chair
              </p>
            </div>
          </a>
          <a class="collection__item" href="#">
            <img class="collection__img" src="img/content/about-gallery-3.jpg" alt="about gallery 3" />
            <div class="collection__info">
              <div class="collection__info-title">
                Truffaut literally trust
              </div>
              <p class="collection__info-text">
                Living room furntiture | Chair
              </p>
            </div>
          </a>
          <a class="collection__item" href="#">
            <img class="collection__img" src="img/content/about-gallery-4.jpg" alt="about gallery 4" />
            <div class="collection__info">
              <div class="collection__info-title">
                Truffaut literally trust
              </div>
              <p class="collection__info-text">
                Living room furntiture | Chair
              </p>
            </div>
          </a>
          <a class="collection__item" href="#">
            <img class="collection__img" src="img/content/about-gallery-5.jpg" alt="about gallery 5" />
            <div class="collection__info">
              <div class="collection__info-title">
                Truffaut literally trust
              </div>
              <p class="collection__info-text">
                Living room furntiture | Chair
              </p>
            </div>
          </a>
        </div>
      </div>
    </div> 
