
				<div class="gallery">
					<div class="container-fluid">
						<div class="gallery__buttons">
							<button class="gallery__btn" data-filter=".bedroom">
								Bedroom furniture
							</button>
							<button class="gallery__btn" data-filter=".living">
								Living room furniture
							</button>
							<button class="gallery__btn" data-filter=".office">
								Office furniture
							</button>
							<button class="gallery__btn" data-filter=".dining">
								Dining room futniture
							</button>
							<button class="gallery__btn" data-filter=".chair">Chair</button>
						</div>
						<div class="gallery__inner">
							<div class="gallery__items mix bedroom">
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-1.jpg"
											alt="gallery 1"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-2.jpg"
											alt="gallery 2"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-3.jpg"
											alt="gallery 3"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-4.jpg"
											alt="gallery 4"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-5.jpg"
											alt="gallery 5"
										/>
									</a>
								</div>
							</div>
							<div class="gallery__items mix living">
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-1.jpg"
											alt="gallery 1"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-2.jpg"
											alt="gallery 2"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-3.jpg"
											alt="gallery 3"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-4.jpg"
											alt="gallery 4"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-5.jpg"
											alt="gallery 5"
										/>
									</a>
								</div>
							</div>
							<div class="gallery__items mix office">
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-1.jpg"
											alt="gallery 1"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-2.jpg"
											alt="gallery 2"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-3.jpg"
											alt="gallery 3"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-4.jpg"
											alt="gallery 4"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-5.jpg"
											alt="gallery 5"
										/>
									</a>
								</div>
							</div>
							<div class="gallery__items mix dining">
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-1.jpg"
											alt="gallery 1"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-2.jpg"
											alt="gallery 2"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-3.jpg"
											alt="gallery 3"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-4.jpg"
											alt="gallery 4"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-5.jpg"
											alt="gallery 5"
										/>
									</a>
								</div>
							</div>
							<div class="gallery__items mix chair">
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-1.jpg"
											alt="gallery 1"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-2.jpg"
											alt="gallery 2"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-3.jpg"
											alt="gallery 3"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-4.jpg"
											alt="gallery 4"
										/>
									</a>
								</div>
								<div class="gallery__item">
									<a class="gallery__item-link" href="#">
										<img
											class="gallery__item-img"
											src="img/content/gallery-5.jpg"
											alt="gallery 5"
										/>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>