<section class="how">
  <div class="container">
    <h3 class="how__title">How it works</h3>
    <div class="how__items">
      <div class="how__items-box">
        <div class="how__item how__item--consultation">
          <img class="how__item-img" src="img/how-1.svg" alt="how 1" />
          <h6 class="how__item-title">Designer Consultation</h6>
          <p class="how__item-text">
            Kinfolk scenester authentic craft beer truffaut irony intelligentsia
            YOLO lomo bushwick coloring book. Semiotics man bun venmo viral
            cliche
          </p>
        </div>
        <div class="how__item how__item--production">
          <img class="how__item-img" src="img/how-2.svg" alt="how 2" />

          <h6 class="how__item-title">Production</h6>
          <p class="how__item-text">
            Everyday carry actually neutra authentic kogi shabby chic
          </p>
        </div>
      </div>
      <div class="how__item how__item--measurements">
        <img class="how__item-img" src="img/how-3.svg" alt="how 3" />

        <h6 class="how__item-title">Measurements</h6>
        <p class="how__item-text">
          Intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun
          venmo viral cliche
        </p>
      </div>
    </div>
  </div>
</section>
