				<section class="new-collection">
					<div class="container-fluid">
						<h3 class="new-collection__title">Furniture new collection</h3>
						<p class="new-collection__text">
							Deep v you probably haven't heard of them banh mi synth actually
							affogato. Aesthetic lyft ethical drinking vinegar austint
						</p>
						<div class="collection">
							<div class="container-fluid">
								<div class="collection__items">
									<a class="collection__item" href="#">
										<img
											class="collection__img"
											src="/img/content/collection-1.jpg"
											alt=""
										/>
										<div class="collection__info">
											<div class="collection__info-title">
												Truffaut literally trust
											</div>
											<p class="collection__info-text">
												Living room furntiture | Chair
											</p>
										</div>
									</a>
									<a class="collection__item" href="#">
										<img
											class="collection__img"
											src="/img/content/collection-2.jpg"
											alt=""
										/>
										<div class="collection__info">
											<div class="collection__info-title">
												Truffaut literally trust
											</div>
											<p class="collection__info-text">
												Living room furntiture | Chair
											</p>
										</div>
									</a>
									<a class="collection__item" href="#">
										<img
											class="collection__img"
											src="/img/content/collection-3.jpg"
											alt=""
										/>
										<div class="collection__info">
											<div class="collection__info-title">
												Truffaut literally trust
											</div>
											<p class="collection__info-text">
												Living room furntiture | Chair
											</p>
										</div>
									</a>
									<a class="collection__item" href="#">
										<img
											class="collection__img"
											src="/img/content/collection-4.jpg"
											alt=""
										/>
										<div class="collection__info">
											<div class="collection__info-title">
												Truffaut literally trust
											</div>
											<p class="collection__info-text">
												Living room furntiture | Chair
											</p>
										</div>
									</a>
									<a class="collection__item" href="#">
										<img
											class="collection__img"
											src="/img/content/collection-5.jpg"
											alt=""
										/>
										<div class="collection__info">
											<div class="collection__info-title">
												Truffaut literally trust
											</div>
											<p class="collection__info-text">
												Living room furntiture | Chair
											</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</section>