    <div class="partners">
      <div class="container-fluid">
        <div class="partners__items">
          <img class="partners__item" src="img/content/partners-1.svg" alt="">
          <img class="partners__item" src="img/content/partners-2.svg" alt="">
          <img class="partners__item" src="img/content/partners-3.svg" alt="">
          <img class="partners__item" src="img/content/partners-4.svg" alt="">
          <img class="partners__item" src="img/content/partners-5.svg" alt="">
        </div>
      </div>
    </div>