.header {
  padding: 45px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  &__btn-menu {
    display: none;
    position: relative;
    z-index: 12;
  }

  .logo {
    margin: 0 15px;
    flex: 0 0 auto;
    position: relative;
    z-index: 12;
  }

  .menu {
    // padding-left: 35px;
    padding-right: 15px;

    &__list {
      // margin-left: 35px;
      // margin-right: 60px;

      display: flex;
    }

    .menu__list-item {
      margin-right: 0;

      .menu__list-item + .menu__list-item {
        padding-right: 15px;
      }
    }

    .menu__list-item + .menu__list-item {
      margin-left: 80px;
    }

    &__list-link {
      @extend %title-font;
      color: rgba(54, 56, 56, 0.9033);
      font-size: 16px;
      line-height: 22px;
    }

    &__list-link--active {
      padding-bottom: 4px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        border-radius: 1px;
        background-color: rgba(54, 56, 56, 1);
      }
    }
  }

  .rightside-menu {
    position: absolute;
    z-index: 15;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 694px;
    width: 100%;
    background-color: #fff;
    padding-top: 40px;
    box-shadow: -2px 3px 17px 0 #000;
    transition: all 0.5s;
    transform: translateX(100%);

    &__closebtn {
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      margin-left: 50px;
      margin-bottom: 60px;
    }

    &__logo {
      margin-bottom: 40px;
      display: inline-block;
    }

    &__content {
      text-align: center;
      max-width: 485px;
      margin: 0 auto;
    }

    &__title {
      color: $title;
      @extend %title-font;
      font-weight: 700;
      font-size: 36px;
      line-height: 51px;
      text-align: center;
      padding-bottom: 22px;
      margin-bottom: 17px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 252px;
        margin: 0 auto;
        height: 1px;
        background-color: #6d7278;
      }
    }

    &__text {
      margin-bottom: 75px;
      color: $default;
    }

    &__img {
      max-width: 485px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
    }
  }

  .rightside-menu.rightside-menu--close {
    transform: translateX(0%);
  }
}
