.about-section {
  &__prev {
    padding: 160px 0;
    background-image: url(../img/about-prev-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    text-align: center;
    margin-top: -53px;
  }

  &__prev-title {
    color: $title;
    @extend %title-font;
    font-size: 60px;
    line-height: 80px;
  }

  &__content {
    padding: 130px 0 40px;
    background-color: #fff;
  }

  &__title {
    font-size: 36px;
    line-height: 60px;
    color: $title;
    @extend %title-font;
    padding-bottom: 22px;
    margin-bottom: 23px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 200px;
      height: 2px;
      background: #6d7278;
      bottom: 0;
      left: 0;
    }
  }

  &__text {
    margin-left: auto;
    max-width: 825px;
    color: #5a5a5a;
  }

  &__text p {
    margin-bottom: 30px;
  }

  &__popup {
    background-image: url(../img/about-popup-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 98px;
    padding: 0 15px;
  }

  // &__popup-play {
  // }

  // &__popup-imgbtn {
  // }
}
